.movies .movie{
    background-color: white;
    margin-bottom: 70px;
    font-weight: 300;
    padding: 20px;
    border-radius: 5px;
    color: #adaeb9;

}

.movies .movie a{
    display: grid;
}

.movie img{
    position: relative;
    top:-50px;
}


.movie .movie__title,
.movie .movie__year{
    margin: 0;
    font-weight: 300;
}

.movie .movie__title{
    font-size: 24px;
    color: #2c2c2c;
}