/* //변수 사용하기
$red : #fa5252;
$orange : #fcc419;
$green : #40c057;
$blue : #339af0;

//믹스인 만들기(재사용되는 스타일 블록을 함수처럼 사용할 수 있음
@mixin square($size){
    $calculated:32px * $size;
    width : $calculated;
    height:$calculated;
} */

@import 'utils.scss';

.SassComponent{
    display: flex;
     .box{ //일반 css에서 .SassComponent .box와 마찬가지
        background: $red;
       cursor: pointer;
       transition:all 0.3s ease-in;  //애니매이션효과 마우스 올렸을때
       &.red{
           //.red클래스가 .box와 함께 사용되었을때
           background: $red;
           @include square(1);
       }
       &.orange{
           background: $orange;
           @include square(2);
       }

       &.green{
           background:  $green;
           @include square(3);
       }
       &:hover{
           //.box에 마우스를 올렸을때
           background: black;
       }
     }
}
