.TodoTemplate{
    width:512px;
    margin-left: auto;
    margin-right: auto;
    margin-top : 5rem;

    
    .app-title{
        background: #22b8cf;
        color: white;
        height:4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        font-weight: 550;


    }

}