.Category{
    font-size: 1.12rem;
    cursor: pointer;
    white-space: pre;
    padding-bottom: 0.25rem;
    color:inherit;
    text-decoration: none;

  
    &.active{
        color:#22b8cf;
        font-weight: 600;
    }
    
    &:hover{
        color:gray;
    }

    &+&{
        margin-left: 1rem;
    }
}