.thumbnail{
    margin-right: 1rem;
    img{
        display: block;
        width: 160px;
        height: 100px;
        object-fit: cover;
    }

}

.content{

    h2{
        a{
            color:black;
        }
    }

}